# Variables d'environnement
.env
.env.*
.secrets

# Fichiers de base de données locales
data/
*.sqlite
*.sqlite3
*.db

# outils
.vscode/
*.swp
.DS_Store

#Debug Cursor
node_modules/
requirement/frontend/dist/
